tools/n8n/affiliate-payout-whatsapp.json
{
  "name": "Notificar saque de afiliado (WhatsApp) — Minha Anamnese",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "affiliate-payout-notify",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "3a1b2c3d-4e5f-4061-8a1b-2c3d4e5f6071",
      "name": "Webhook - Saque solicitado",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? $json;\n\nconst amount = Number(body.amount || 0).toLocaleString('pt-BR', {\n  style: 'currency',\n  currency: body.currency_id || 'BRL',\n});\n\nconst parts = [\n  '💰 Saque de afiliado solicitado',\n  '',\n  `Afiliado: ${body.affiliate_code || 'desconhecido'}`,\n  `Valor: ${amount}`,\n  `Chave PIX: ${body.pix_key || 'não informada'}`,\n  `ID do saque: ${body.payout_id || '-'}`,\n];\n\nif (body.action_paid_url) {\n  parts.push('', '✅ Após fazer o PIX, marcar como PAGO:', body.action_paid_url);\n}\n\nif (body.action_rejected_url) {\n  parts.push('', '❌ Rejeitar (devolve o saldo):', body.action_rejected_url);\n}\n\nif (!body.action_paid_url && !body.action_rejected_url) {\n  parts.push('', 'Dê baixa pelo painel n8n ou pela função settle_affiliate_payout.');\n}\n\nreturn [{ json: { message: parts.join('\\n') } }];"
      },
      "id": "5f6a7b8c-9d0e-4a1b-8c2d-3e4f5a6b7c81",
      "name": "Montar mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.callmebot.com/whatsapp.php",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "SEU_NUMERO_COM_DDI"
            },
            {
              "name": "apikey",
              "value": "SUA_APIKEY_CALLMEBOT"
            },
            {
              "name": "text",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7c8d9e0f-1a2b-4c3d-9e4f-5a6b7c8d9e91",
      "name": "Enviar WhatsApp (CallMeBot)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Webhook - Saque solicitado": {
      "main": [
        [
          {
            "node": "Montar mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar mensagem": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp (CallMeBot)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {}
}
